// Footer

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-black;
  text-align: center;

  & h2, p {
    color: $white !important;
  }
}